<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amrita.aarohanregistration">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".Aarohan_Application"
        android:allowBackup="true"

        android:icon="@mipmap/ic_arhnlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main_Menu"></activity>
        <activity android:name=".ScanActivity"></activity>
        <activity android:name=".Events_Aarohan.Groups.Event_StudentProfile_GroupEvent"></activity>
        <activity android:name=".Events_Aarohan.Groups.Event_StudentScanActivity_GroupEvent"></activity>
        <activity android:name=".Events_Aarohan.Event_List_Junior"></activity>
        <activity android:name=".Feedback_Aarohan.FeedbackStudentProfile"></activity>
        <activity android:name=".Statistics_Aarohan.Statistics_Home"></activity>
        <activity android:name=".Feedback_Aarohan.FeedbackScanActivity"></activity>
        <activity android:name=".Statistics_Aarohan.StudentStats.Statistics_Students"></activity>
        <activity android:name=".Statistics_Aarohan.EventStats.Statistics_Event"></activity>
        <activity android:name=".Statistics_Aarohan.SchoolStats.Statistics_School"></activity>
        <activity android:name=".Statistics_Aarohan.FeedbackStats.Statistics_Feedback"></activity>
        <activity android:name=".ShowStudent"></activity>
        <activity android:name=".RandomStudentScanActivity"></activity>
        <activity android:name=".FacultyProfile"></activity>

        <activity
            android:name=".Events_Aarohan.Groups.Event_StudentList_GroupEvent"
            android:launchMode="singleTask"></activity>

        <activity android:name=".SchoolStudentList"></activity>
        <activity android:name=".Events_Aarohan.Groups.Event_Dashboard_GroupEvent"></activity>

        <activity
            android:name=".Events_Aarohan.Groups.Event_GroupDashboard"
            android:launchMode="singleTask"></activity>

        <activity android:name=".Events_Aarohan.Groups.Event_ViewGroups"></activity>
        <activity android:name=".Events_Aarohan.Groups.Event_Winnner_GroupEvent"></activity>


        <activity
            android:name=".Events_Aarohan.Groups.Event_ShowStudent_GroupEvent"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".Events_Aarohan.Groups.Event_ShowStudentScanActivity_Group"
            android:launchMode="singleInstance"></activity>

        <activity
            android:name=".Events_Aarohan.Induvidual.Event_StudentScanActivity_Induvidual"
            android:launchMode="singleInstance"></activity>

        <activity
            android:name=".Events_Aarohan.Induvidual.Event_StudentList_Induvidual"
            android:launchMode="singleInstance"></activity>

        <activity android:name=".Events_Aarohan.Induvidual.Event_Dashboard_Induvidual"></activity>
        <activity android:name=".Events_Aarohan.Induvidual.Event_ShowStudent_Induviudal"></activity>
        <activity android:name=".Events_Aarohan.Induvidual.Event_StudentProfile_Induvidual"></activity>
        <activity android:name=".Events_Aarohan.Induvidual.Event_Winnner_Induvidual"></activity>
        <activity android:name=".Events_Aarohan.Event_JuniorSeniorSelect"></activity>
        <activity android:name=".Events_Aarohan.Event_List_Senior"></activity>
        <activity android:name=".Statistics_Aarohan.WinnerStats.Winner_EventsList"></activity>
        <activity android:name=".Statistics_Aarohan.WinnerStats.Statistics_WinnerSchools"></activity>
        <activity android:name=".Statistics_Aarohan.WinnerStats.Winner_GroupList"></activity>
        <activity android:name=".Events_Aarohan.Event_Status"></activity>
        <activity android:name=".Statistics_Aarohan.EventStats.Statistics_EventStatus"></activity>


    </application>


</manifest>